﻿body {
    font-family: 'Roboto Condensed', sans-serif;
}

#container {
    display:block;
    width:1000px;
    height:800px;
    margin: 50px auto 50px auto;
    background-color: #808080;
    color: white;

}

.block {
    display:block;
    width:90%;
    margin: 20px auto 20px auto;
    background-color:#999;
}

.current {
    border-right:1px solid #bbb;
}

#text-input {
    width:98%;
    height:98%;
    background-color:transparent;
    border: 0;
    resize: none;
    position: absolute;
    top: 0;
    left: 0;
    color:transparent;
    z-index: 50;
}

.container-inner {
    height:80%;
}

#heading {
    text-align:center;
    display:block;
    background: #000;
    padding: 15px;
}

#code-window {
    height:50%;
    position: relative;
    font-size:1.5em;
}

#code {
    z-index: 70;
}

#output-window {
    height:20%;
}

#run-btn {
    height:20%;
}

h1 {
    font-size: 3em;
}

/* Color classes*/
.shift-up {color:#2aedbf;}
.shift-down {color:#1a9e7f;}
.write {color:#d6e050;}
.read {color:#e04f76;}
.value-up {color:#a9f9f9;}
.value-down {color:#bef7c6;}
.loop-start {color:#f78860;}
.loop-end {color:#b56142;}